---
import Header from "../../layouts/Header.astro";
import Receta from "../../components/Receta.astro";
import Subtitulos from "../../components/Subtitulos.astro";
import RecetasRecomendadas from "../../components/RecetasRecomendadas.astro";
---
<Header title="recetas">
    <RecetasRecomendadas/>
    <article class="recipes_container">
        <Subtitulos>Recetas</Subtitulos>
        <section class="recipes">
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
            <Receta/>
        </section>
    </article>
</Header>

<style>

.recipes_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    .recipes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 1em;

        
    }

}
</style>