---
import HeaderAndFooter from "../../layouts/HeaderAndFooter.astro";
import RecipeCard from "../../components/RecipeCard.astro";
import Subtitle from "../../components/Subtitle.astro";
import RecommendedRecipes from "../../components/RecommendedRecipes.astro";
---

<HeaderAndFooter title="MRR Recetas">
  <main>
    <RecommendedRecipes subtitle="Recetas Recomendadas" />
    <article class="recipes_container">
      <Subtitle>Recetas</Subtitle>
      <section class="recipes">
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
      </section>
    </article>
  </main>
</HeaderAndFooter>
<style>
  main {
    grid-column: span 4;
    width: 100%;
    background-color: rgb(249, 248, 247);
  }

  .recipes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 1.5em;

    .recipes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      gap: 1em;
    }
  }
</style>
