---
import HeaderAndFooter from "../layouts/HeaderAndFooter.astro";
import RecommendedRecipes from "../components/RecommendedRecipes.astro";
import Subtitle from "../components/Subtitle.astro";
import RecipeCard from "../components/RecipeCard.astro";
---

<HeaderAndFooter title="Mi Rincon De Recetas">
  <main>
    <RecommendedRecipes subtitle="Recetas Recomendadas" />
    <a href="/receta">receta</a>
    <a href="/recetas">recetas</a>
    <article class="find_recipe">
      <Subtitle>Encuentra Tu Receta Ideal</Subtitle>
      <section class="container-form-find_recipe">
        <form action="" class="form-find_recipe">
          <label class="label_ingredient">
            <select>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>
          </label>
          <br />
          <label class="label_ingredient">
            <select>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>
          </label>
          <br />
          <label class="label_ingredient">
            <select>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>
          </label>
          <br />
          <label class="label_difficulty">
            <select>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>
          </label>
          <br />
          <label class="label_taste">
            <select>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>
          </label>
          <br />
          <button>Buscar Receta</button>
        </form>
      </section>
      <section class="recommended_recipes">
        <picture class="carousel-container">
          <RecipeCard />
        </picture>
      </section>
    </article>
    <article>
      <section class="popular_recipes">
        <picture class="carousel_container"></picture>
      </section>
    </article>
  </main>
</HeaderAndFooter>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    grid-column: span 4;

    width: 100%;
    background-color: rgb(249, 248, 247);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1.5fr;
    place-content: center;
  }
</style>
