---
import Header from "../layouts/Header.astro"
---
	<Header title="astro">
		<a href="/templates/recetas/"> recetas</a>
		<article class="presentation_explication">
			<section class="presentation">
				<h2>Presentation</h2>
			</section>
			<section class="explication">
				<h2>Explication</h2>
			</section>
		</article>
		<article class="form">
			<h2>Encuetra la receta para vos</h2>
			<form action="">
				<label for="">
					<input type="text">
					<select>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</label>
				<br>
				<label for="">
					<input type="text">
					<select>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</label>
				<br>
				<label for="">
					<input type="text">
					<select>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</label>
				<br>
				<label for="">
					<input type="text">
					<select>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</label>
				<br>
				<label for="">
					<input type="text">
					<select>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</label>
			</form>
		</article>
	</Header>
</html>
<style>

.presentation_explication {
	width: 70%;
  background-color: rgba(219, 183, 138, 0.301);
  text-align: center;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;


  padding: 0.5em 2em;
  margin: 2em 0 0.5em;

  .presentation {
	width: 100%;
    border-bottom: 0.2em solid rgba(252, 251, 249, 255);
  }
  .explication {
	width: 100%;
  }
}

.form {
	width: 70%;
	text-align: center;
    background-color: rgba(219, 183, 138, 0.301);
  padding: 2em;

  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}


</style>