---
---
<article class="recipe">
    <a href="" class="link">
        <picture class="recipe_container">
            <img src="../../public/food/alex-munsell-Yr4n8O_3UPc-unsplash.jpg" alt="" class="recipe_image">
        </picture>
        <section class="recipe_text_container">
            <div class="recipe_text_container_top">
                <h3 class="recipe_title">Receta</h3>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="recipe_text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, minus! Ducimus nisi, asperiores
                tenetur sint
                cum fuga blanditiis molestias mollitia nesciunt alias odio, quos ut eius obcaecati repellat, ipsum
                iusto?
            </p>
        </section>
    </a>
</article>

<style>
.recipe {
  width: 80%;
  max-width: 316px;
  grid-column: span 2;

  &:hover{
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }

  .link{
    text-decoration: none;
    color: black;
    
  }

  .recipe_container {
    max-width: 430px;
  }

  .recipe_image {
    max-width: 430px;
    width: 100%;
    aspect-ratio: 1.5/1;
  }

  .recipe_text_container {
    .recipe_text_container_top {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      margin-top: 0.5em;

      padding: 0 1em;

      .recipe_title {
        margin-top: 0em;
        margin-bottom: 0.6em;
        font-family: 'Roboto Slab', "Merriweather", serif;
      }
    }
    .recipe_text {
      text-align: center;
      margin-top: 0;
      margin-bottom: 3em;
    }
  }
}

/* .recipe:nth-last-child(-n+2) {
    justify-self: flex-start;
    margin: 0 auto 0 7.8em;
}
.recipe:nth-last-child(-n+1) {
    justify-self: flex-start;
    margin: 0 auto 0 -69.7em;
} */


</style>