---

---

<section class="recipe">
  <a href="" class="recipe-link">
    <div class="recipe-img-container">
      <img src="../../public/Recetas/risoto.jpg" alt="Recipe 1" />
      <div class="recipe-caption">
        <h3 class="text">Pato a la naranja</h3>
        <p class="text text-description">
          ttttt ttttttttttttttttttttttttttttttttttttttttt
        </p>
      </div>
    </div>
  </a>
</section>
<style>
  .recipe {
    width: 90%;
    aspect-ratio: 1/1;
    max-width: 430px;
    &:hover {
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.658);
    }
    .recipe-img-container {
      aspect-ratio: 1/1;
      width: 100%;
      position: relative;
      bottom: 0;
      left: 0;
      align-items: center;

      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }

      .recipe-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.5em;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        transition: 0.5s ease;
        box-sizing: border-box;
        .text {
          margin: 0;
          text-align: center;
          box-sizing: border-box;
        }

        .text-description {
          margin-top: 0.3em;
          display: none;
          box-sizing: border-box;
        }
      }
    }
  }

  .recepi-container {
    .recipe {
      &:hover {
        .recipe-img-container {
          .recipe-caption {
            .text-description {
              display: block;
            }
          }
        }
      }
    }
  }
</style>
