---
import Subtitle from "./Subtitle.astro";

interface Props {
  subtitle: string;
}
const { subtitle } = Astro.props;

client: true;
---

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const pathImg = [
      "/public/food/eaters-collective-12eHC6FxPyg-unsplash.jpg",
      "/public/food/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg",
      "/public/food/charlesdeluvio-D-vDQMTfAAU-unsplash.jpg",
    ];
    let i = 0;
    const img1 = document.querySelector("#img1");
    const img2 = document.querySelector("#img2");
    const img3 = document.querySelector("#img3");
    const imgArray = [img1, img2, img3];

    let currentIndex = 0;
    const changeImage = function () {
      imgArray.forEach((element, index) => {
        element.src = pathImg[(currentIndex + index) % pathImg.length];
      });
      currentIndex = (currentIndex + 1) % pathImg.length;
    };
    setInterval(changeImage, 8000);
  });
</script>

<article class="recommended_recipes">
  <Subtitle>{subtitle}</Subtitle>
  <picture class="recommended_recipes-container">
    <a href="" class="link_recipe link-1">
      <img
        src="/public/food/eaters-collective-12eHC6FxPyg-unsplash.jpg"
        alt=""
        class="link_recipe-img"
        id="img1"
      />
    </a>
    <a href="" class="link_recipe link-2">
      <img
        src="/public/food/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg"
        alt=""
        class="link_recipe-img"
        id="img2"
      />
    </a>
    <a href="" class="link_recipe link-3">
      <img
        src="/public/food/charlesdeluvio-D-vDQMTfAAU-unsplash.jpg"
        alt=""
        class="link_recipe-img"
        id="img3"
      />
    </a>
  </picture>
</article>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  .recommended_recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5em;

    .title {
      font-size: 2rem;
    }
    .recommended_recipes-container {
      max-width: 1376px;
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      aspect-ratio: 2.25/1;
      width: 100%;

      .link_recipe {
        text-decoration: none;

        padding: 0.3em;

        max-width: 100%;
        aspect-ratio: 1.5/1;

        .link_recipe-img {
          width: 100%;
          aspect-ratio: 1.5/1;

          &:hover {
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
          }
        }
      }

      .link-1 {
        width: 100%;
        grid-row: span 2;
      }
      .link-2 {
        margin-left: 0.5em;
        width: 95%;
        filter: brightness(0.7);
      }

      .link-3 {
        margin-left: 0.5em;
        width: 95%;
        filter: brightness(0.7);
      }
    }
  }

  @media (width > 800px) {
    .recommended_recipes {
      .recommended_recipes-container {
        .link-2 {
          width: 96.5%;
        }
        .link-3 {
          width: 96.5%;
        }
      }
    }
  }

  @media (width > 900px) {
    .recommended_recipes {
      .recommended_recipes-container {
        .link-2 {
          width: 97%;
        }
        .link-3 {
          width: 97%;
        }
      }
    }
  }

  @media (width > 1400px) {
    .recommended_recipes {
      .recommended_recipes-container {
        .link-2 {
          width: 97.7%;
        }
        .link-3 {
          width: 97.7%;
        }
      }
    }
  }
</style>
