---
import IconoButton from "../components/IconoButton.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  // Inicio EasterEgg
  let clickCount = 0;

  const logo = document.querySelector(".logo img");

  logo.addEventListener("click", () => {
    clickCount++;

    if (clickCount === 5) {
      const gif = document.createElement("img");
      gif.src = "./img/the-binding.gif";
      gif.alt = "Gif";

      const gifContainer = document.getElementById("gifContainer");
      gifContainer.appendChild(gif);

      // Después de 30 segundos, elimina el gif
      setTimeout(() => {
        gifContainer.removeChild(gif);
        clickCount = 0;
      }, 10000);
    }
  });
  
  // Fin EasterEgg
  

</script>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recetas deliciosas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Merriweather -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4ecd7ae358.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!--Inicio de Header -->
    <header>
      <section>
        <div id="gifContainer"></div>
        <div class="logo">
          <img src="./img/usar_logo.png" alt="Logo" />
        </div>
        <div class="icons">
          <a href=""> <i class="fa-solid fa-magnifying-glass"></i></a>
          <a href="/login"> <i class="fa-solid fa-user"></i></a>
          <a href="https://fernandoderrigo.github.io/PEDRO-PEDRO-PEDRO-PE/">
            <i class="fa-solid fa-star"></i></a
          >
        </div>
<<<<<<< HEAD
      </div>
      <nav class="container_header_pages-nav">
        <ul class="container_pages_ul">
          <li><a href="/">Inicio</a></li>
          <li><a href="/recetas">Recetas</a></li>
          <li><a href="">Sobre Nosotros</a></li>
          <li><a href="">Agrega Tu Receta</a></li>
=======
      </section>

      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/recetas">Recetas</a></li>
          <li><a href="#">Sube tu receta</a></li>
>>>>>>> 537e93b58378428bc84067e9942d9f74e58206bb
        </ul>
      </nav>
    </header>
    <!-- Fin de Header -->
    <slot />

    <!-- Footer -->
    <footer>
      <div class="redes">
        <a href="https://www.instagram.com/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://discord.com/">
          <i class="fa-brands fa-discord"></i>
        </a>
        <a href="https://fernandoderrigo.github.io/BAM-02-V2/">
          <i class="fa-solid fa-heart"></i>
        </a>
      </div>

      <p>Mi rincon de recetas - Todos los derechos reservados</p>
      <img src="./img/footer.png" alt="" />
    </footer>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr 0.5fr;
    background-color: rgb(249, 248, 247);
    font-family: "Roboto Slab", "Merriweather", serif;
  }
  main {
    grid-column: span 4;
  }
  /* Inicio de Header */
  header {
    grid-column: span 4;
    background-color: white;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header section {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
  }

<<<<<<< HEAD
  footer {
    background-color: rgba(219, 182, 138, 255);
=======
  header img {
    width: 90%;
    margin-bottom: 5px;
  }
  #gifContainer {
    position: absolute;
  }

  header .icons {
    display: flex;
    gap: 0.8em;
    font-size: 1.3rem;
    align-items: center;
  }

  nav {
>>>>>>> 537e93b58378428bc84067e9942d9f74e58206bb
    display: flex;
    justify-content: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 5px;
    border-bottom: 1px solid transparent;
    padding: 2px 4px;
  }

  nav ul li:hover {
    border-color: #148171;
  }

  nav ul li a {
    color: #333;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
  }

  nav ul li:hover a {
    color: #148171;
    /* Fin de Header */
  }

  /* Inicio Footer */
  footer {
    grid-column: span 4;
    display: flex;
    bottom: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }
  footer p {
    color: rgb(0, 1, 1);
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 3em;
  }
  footer .redes {
    display: flex;
    padding: 0.5em;
    justify-content: center;
    font-size: x-large;
    gap: 1em;
  }
  footer img {
    width: 100%;
  }
  /* Fin Footer */


  @media only screen and (max-width: 768px) {
    footer .redes {
      display: flex;
      padding: 1em;
      text-align: center;

      justify-content: center;
      font-size: x-large;
      gap: 1em;
      width: 100%;
      margin-top: 1em;
    }
    footer {
      margin-top: 5em;
      align-items: baseline;
      padding-top: 4em;
      text-align: center;
    }
    footer img {
      width: 100%;
      height: 50px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1118px) {
    footer {
      text-align: center;

      margin-top: 50%;
    }
    footer .redes {
      text-align: center;
    }
  }

  @media only screen and (min-width: 1114px) and (max-width: 1788px) {
    footer {
      text-align: center;

      margin-top: 20%;
    }
    footer .redes {
      text-align: center;
    }
  }
</style>
